body {
    margin-left: 25px;
}

td {
    width: 50px;
    height: 50px;
}

table {
    border: 2px solid;
    padding: 20px;
    margin-top: 20px;
    min-width: 800px;
    min-height: 800px;
} 

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.home {
    text-align: center;
}

#popper {
    text-align: center;
    color: purple;
}

#btnPopper{
    border-radius: 50%;
    width: 125px;
    height: 125px;
    border: 5px solid black;
    font-size: 36px;
    color: white;
    background-color: purple;
}

#btnPopper:focus {
    outline: none;
}

.path {
    background-color: lightgrey;
}

td.blue, td.green, td.red, td.yellow, td.path {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.home {
    font-size: 16px;
    font-weight: bold;
}

h3 {
    display: inline;
}

input {
    margin-left: 15px;
}

.notPlaying {
    opacity: 0.4;
}

#currentPlayer {
    display: inline-flex;
    height: 25px;
    width: 50px;
    border: solid black 2px;
}

#instructions {
    display: inline;
}

.occupied-blue {
    border: solid 5px white;
    background-color: blue;
    width: 30px;
    height: 30px;
    margin-left: 18px;
}

.occupied-green {
    border: solid 5px white;
    background-color: green;
    width: 30px;
    height: 30px;
    margin-left: 18px;
}

.occupied-red {
    border: solid 5px white;
    background-color: red;
    width: 30px;
    height: 30px;
    margin-left: 18px;
}

.occupied-yellow {
    border: solid 5px white;
    background-color: yellow;
    width: 30px;
    height: 30px;
    margin-left: 18px;
}

button:focus {
    outline: none;
}

button {
    margin: 10px;
}

.start {
    border: 3px dashed black;
}